- name: "Remove and unconfigure any other scanning apps that may be installed"
  ansible.builtin.include_tasks: remove_other_apps/main.yml
  when: simple_scan_remove_other_scanning_apps

- name: "Install Simple-Scan application"
  ansible.builtin.include_tasks: install_app/main.yml

